@media screen and (max-width: 1300px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    #themeSwitchContainer {
        margin-left: 0rem;
    }

    .section-container, .section__text {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .sections {
        gap: 4rem;
        margin-top: 3rem;
    }

    .section__pic-container{
        display: flex;
        height: 15rem;
        width: 15rem;
        margin: auto 0;
        justify-content: center;
        overflow: hidden;
    }

    .arrow-container {
        margin-top: 4rem;
    }

    .about-content {
        flex-direction: column;
        height: 90dvh;
        width: 90dvw;
        justify-content: center;
    }

    .about-container {
        border-width: 0;
    }

}