@media screen and (max-width: 1300px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    .section-container, .section__text {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .section__pic-container{
        display: flex;
        height: 25rem;
        width: 25rem;
        margin: auto 0;
        justify-content: center;
        overflow: hidden;
    }

}