 /*General*/
 @import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

 * {
   margin: 0rem;
   padding: 0rem;
 }

 :root {
    --areaColor1: #1b1b1b;
    --backgroundColor1: #1b1b1b;
    --backgroundColor2: #ffffff;
    --backgroundColor3: #006eff;
    --buttonColor1: #000000;
    --buttonColor2: #ffffff;
    --textColor1: #ffffff;
    --textColor2: #000000;
    --textColor3:#a5a5a5;
    --borderColor1: #ffffff;
    --borderColor2: #000000;
    --borderColor3: #b5b5b5;
    --decorationColor1:#b5b5b5;
    --accentColor1: #006eff;
    --accentColor2: #0099ff;
    --arrowContainerColor: var(--accentColor1);
    --themeSwitchCircleLeft:#000000;
    --themeSwitchCircleRight:#ffffff;
 }

 :root.lightMode {
    --areaColor1: #ffffff;
    --backgroundColor1: #ffffff;
    --backgroundColor2: #000000;
    --backgroundColor3: #ffffff;
    --buttonColor1: #ffffff;
    --buttonColor2: #000000;
    --textColor1: #000000;
    --textColor2: #ffffff;
    --textColor3:gray;
    --borderColor1: #000000;
    --borderColor2: #ffffff;
    --borderColor3: #b5b5b5;
    --decorationColor1:#b5b5b5;
    --accentColor1: #003cff;
    --arrowContainerColor: var(--areaColor1);
    --themeSwitchCircleLeft:#000000;
    --themeSwitchCircleRight:#ffffff;
 }
 
 html {
     scroll-behavior: smooth;
     background: var(--areaColor1);
 }
 
 body {
     font-family: "Poppins", sans-serif;
     background: var(--areaColor1);
     background: var(--backgroundColor1);
     background-repeat: no-repeat;
     color: var(--textColor1);
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .accented{
    color: var(--accentColor1);
 }
 
 p {
     color: var(--textColor3);
 }
 
 /* TRANSITION */
 a, .btn, .icon{
     transition: all 300ms ease;
 }
 
 /* NAVIGATION */
 .navigation {
    background: var(--areaColor1);
    position: fixed;
    width: 100dvw;
    z-index: 9999;
 }

 nav,
 .nav-links {
     display: flex;
 }
 
 nav {
     justify-content: space-around;
     align-items: center;
     height: 12vh;
 }
 
 .nav-links {
     gap: 2rem;
     list-style: none;
     font-size: 1.5rem;
 }

 #themeSwitchContainer {
    align-self: center;
    align-content: center;
    margin-left: 2rem;
    display: flex;
    font-size: 1rem;
 }

 #themeSwitch {
    margin-inline: 0.5rem;
    height: 1.4rem;
    width: 2.5rem;
    background: var(--buttonColor2);
    border: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    align-items: center;
    display: flex;
    padding-inline: 0.15rem;
    justify-content: space-between;
 }

 .themeSwitchCircle {
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 0.6rem;
 }

 #themeSwitchCircleLeft {
    background: var(--themeSwitchCircleLeft)
 }

 #themeSwitchCircleRight {
    background: var(--themeSwitchCircleRight);
 }
 
 a{
     color: var(--textColor1);
     text-decoration: none;
     text-decoration-color: white;
 }
 
 a:hover {
     color: var(--textColor3);
     text-decoration: underline;
     text-underline-offset: 1rem;
     text-decoration-color: var(--decorationColor1);
 }
 
 .logo {
    display: flex;
     height: 2rem;
     font-size: 2rem;
     justify-content: center;
     align-items: center;
 }

 .navLogo {
    height: 4rem;
    cursor: pointer;
 }
 
 .logo:hover {
     cursor: default;
 }
 
 /*HAMBURGER MENU*/
 
 #hamburger-nav {
     display: none;
 }
 
 .hamburger-menu {
     position: relative;
     display: inline-block;
 }
 
 .hamburger-icon {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: 1.5rem;
     width: 2rem;
     cursor: pointer;
 }
 
 .hamburger-icon span {
     width: 100%; /*of its container*/
     height: 0.125rem;
     background: var(--backgroundColor2);
     transition: all 0.3 ease-in-out;
 }
 
 .menu-links {
     position: absolute;
     top: 3rem;
     right: 0rem;
     background: var(--backgroundColor1);
     border: var(--borderColor1) 0.1rem solid;
     border-top: none;
     border-right: none;
     width: 12rem;
     max-height: 0;
     display: none;
     overflow: hidden;
     transition: all 300ms ease;
 }
 
 .menu-links a {
     display: block;
     padding: 0.625rem;
     text-align: center;
     font-size: 1.5rem;
     text-decoration: none;
 }
 
 .menu-links li {
     list-style: none;
 }
 
 .menu-links.open {
     max-height: 19rem;
     display: block;

    
    :hover {
        ::before {
            content: "";
            display: inline-block;
            width: 0.5rem;
            height: 0.5rem;
            background: var(--accentColor1);
            border-radius: 50%;
            margin-right: 0.5rem;
            align-self: center;
        }
    }
 }
 
 .hamburger-icon.open span:first-child {
     transform: rotate(45deg) translate(10px, 5px);
 }
 .hamburger-icon.open span:nth-child(2) {
     opacity: 0;
 }
 .hamburger-icon.open span:last-child {
     transform: rotate(-45deg) translate(10px, -5px);
 }
 
 .hamburger-icon span:first-child {
     transform: none;
 }
 .hamburger-icon span:first-child {
     opacity: 1;
 }
 .hamburger-icon span:first-child {
     transform: none;
 }
 
 /*SECTIONS*/

 .sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: auto;
 }
 
 .section-container {
     padding-top: 7dvh;
     height: 96dvh;
     width: 100dvw;
     margin: 0 0rem;
     min-height: fit-content;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-self: center;
     justify-self: center;
     overflow: hidden;
 }

 .arrow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #1b1b1b 0.15rem solid;
    border-radius: 35%;
    background: var(--arrowContainerColor);
    width: 4rem;
    height: 3.5rem;
 }

 .arrow {
    height: 3rem;
    cursor: pointer;
 }
 
 /*PROFILE SECTION*/
 
 #profile {
     display: flex;
     justify-content: center;
     gap: 5rem;
     height: 80vh;
 }
 
 #selfDescription {
    margin-bottom: 2rem;
    font-size: 1.5rem;
 }
 .section__pic-container{
     display: flex;
     height: 25rem;
     width: 25rem;
     margin: auto 0;
     justify-content: center;
     overflow: hidden;
 }
 
 .section__text {
     align-self: center;
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     min-height: 40vh;
    }
 
 .section__text p {
     font-weight: 600;
 }
 
 .section__text__p1, .section__text__p2 {
     text-align: center;
     font-size: 1.75rem;
     margin-bottom: 1rem;
 }
 
 .title {
     font-size: 3rem;
     text-align: center;
 }
 
 
 /*ICONS*/
 .social-container {
    display: flex;
    background: var(--backgroundColor3);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
    border-radius: 2rem;
    width: 16.5rem;
    justify-content: space-evenly;
    overflow: visible;
 }

 .icon {
     cursor: pointer;
     height: 2rem;
 }

 .icon:hover {
   transform: scale(1.5);
 }
 
 /*BUTTONS*/
 
 .btn-container {
     display: flex;
     justify-content: center;
     gap: 1rem;
     padding-bottom: 1.5rem;
 }
 
 .btn {
     font-weight: 600;
     padding: 1rem;
     width: 8rem;
     height: 4rem;
     border-radius: 2rem;
 }
 
 .btn:hover {
     cursor: pointer;
     width: 9.5rem;
 }
 
 .btn-color-1 {
     border: var(--borderColor1) 0.2rem solid;
     background: var(--backgroundColor1);
     color: var(--textColor1);
 }
 
 
 .btn-color-2 {
     border: var(--borderColor1) 0.2rem solid;
     background: var(--backgroundColor2);
     color: var(--textColor2);
 }

 /* ABOUT ME */

 .degree {
    color: var(--accentColor2);
 }

 .section-header {
    margin-bottom: 2rem;
 }

 .sub-section-title {
    margin-bottom: 0rem;
 }

 .about-content {
    width: 100dvw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    align-items: start;
    overflow: visible;
 }

 .about-container {
    border: var(--borderColor3) 0rem solid;
    border-radius: 0.5rem;
    padding: 2rem;
    display: flex;
    min-height: fit-content;
    flex-direction: column;
    gap: 2rem;
    overflow: visible;

    h2 {
        font-size: 2.5rem;
        color: var(--accentColor1);
    }
 }

 .education-object {
    border: var(--borderColor1) 0.1rem solid;
    border-radius: 2rem 0rem;
    padding: 2rem;
 }

 .emailText {
    margin: 1rem;
 }

 .scroller {
    max-width: 90dvw;
    overflow-y: visible;
  }
  
  .scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  }
  
  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
  }
  
  .scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }
  
  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }
  
  .scroller[data-speed="fast"] {
    --_animation-duration: 20s;
  }
  
  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }

  .scroller[data-animated="true"] .scroller__inner:hover {
    animation-play-state: paused;
  }
  
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

  .skillsCard:hover {
    border: var(--borderColor1) 0.1rem solid;
    border-radius: 2rem;
    transform: scale(1.1);
  }